# Windows
Thumbs.db
desktop.ini

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
backend/.env

# Node / React
node_modules/
dist/
build/
.eslintcache
frontend/node_modules/
frontend/dist/

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
flutter_app/build/
flutter_app/.dart_tool/
flutter_app/.flutter-plugins
flutter_app/.flutter-plugins-dependencies
flutter_app/.packages
flutter_app/android/app/debug/
flutter_app/android/app/profile/
flutter_app/android/app/release/

# IDEs
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

# Database backups
*.sql
!backend/db_schema.sql